<app-header pageTitle="About Us" imageUrl="home"></app-header>
<mat-card>
  <mat-card-header >
    <h1 class="font" style="text-align: center"><mat-card-title style="text-align: center"><b>Student GPS Tracking Attendance App</b></mat-card-title>
    <mat-card-subtitle>A Mobile GPS, Picture Attendance App for storing Student, Asset Picture Attendance with GPS Locations.</mat-card-subtitle></h1>
  </mat-card-header>
  <mat-card-content><h2  class="container">
      Store all Students and/or Assets attendance records electronically.<br/><br><br>  
1. Paperless Records for Attendance Regiter<br/><br>
2. Save Pictures and Live GPS Locations<br/><br>
3. Online and/or Offline (delayed capture) App<br/><br>
4. One App for multiple platforms (iOS, Android, Desktop, Cloud etc.)<br/><br>
5. Unlimited Storage (only limited to server/database hosting).<br/><br>
6. Store and Access millions of records instantly.<br/><br>
7. Paperless and Mobile on-premise App.<br/><br>
8. Instant access to ALL historical records at anytime.<br/><br>
9. No Thumb expressions, Picture identification or card punching or GPS devices to carry except smart phone.<br/><br>
10. Auto Face Recognition (Pro version only).<br/><br/><br/>
</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </mat-card-content>
</mat-card>

